# Part 2: Spatial Interaction models
For this section, you will be given a “symbolic” __population and the number of jobs__ for the stations in the underground. You will also be given __the number of people that commute from one station to another__, through an OD matrix.

## read data

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
from matplotlib.pyplot import cm
import json
import re
from shapely.geometry import Point, LineString #this library is for manipulating geometric objects, and it is what geopandas uses to store geometries
from scipy.spatial import distance

import seaborn as sns
import folium
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats
import numpy as np
from math import sqrt

In [2]:
# data = pd.read_csv("./WK10P/outputs/london_flows.csv", index_col=0)
Londonflow = pd.read_csv("./WK10P/outputs/london_flows.csv")
Londonflow = Londonflow.drop(Londonflow[Londonflow['station_destination'] == 'Battersea Park'].index)
Londonflow = Londonflow.drop(Londonflow[Londonflow['station_origin'] == 'Battersea Park'].index)
Londonflow.head()

  station_origin station_destination  flows  population   jobs     distance
0     Abbey Road   Bank and Monument      0         599  78549  8131.525097
1     Abbey Road             Beckton      1         599    442  8510.121774
2     Abbey Road           Blackwall      3         599    665  3775.448872
3     Abbey Road        Canary Wharf      1         599  58772  5086.514220
4     Abbey Road        Canning Town     37         599  15428  2228.923167

In [3]:
DTsubmat = pd.pivot_table(Londonflow, values ="flows", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
DTsubmat

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,599
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1224
Acton Town,NaN,NaN,NaN,3.0,17.0,NaN,35.0,0.0,NaN,11.0,...,77.0,3.0,6.0,9.0,NaN,0.0,NaN,0.0,NaN,3745
Aldgate,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,17.0,...,0.0,NaN,4.0,8.0,NaN,0.0,NaN,0.0,NaN,2886
Aldgate East,NaN,NaN,2.0,0.0,NaN,NaN,0.0,0.0,NaN,20.0,...,24.0,0.0,0.0,12.0,NaN,1.0,NaN,1.0,NaN,3172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,2.0,5.0,47.0,NaN,NaN,NaN,NaN,22.0,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4868
Woodgrange Park,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,530
Woodside Park,NaN,NaN,1.0,26.0,11.0,NaN,0.0,NaN,NaN,59.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3093
Woolwich Arsenal,20.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7892
All,345.0,750.0,2202.0,7782.0,7932.0,444.0,741.0,256.0,173.0,8103.0,...,6295.0,596.0,2146.0,1578.0,404.0,706.0,242.0,745.0,4428.0,1542391

# III. Models and calibration

## III.1. introduce the spatial interaction models

* Briefly introduce the spatial interaction models covered in the lectures using equations and defining the terms
* taking particular care in explaining the role of the parameters.

### UNCONSTRAINED MODEL

* ONLY THE BASIC constraint equation - 
total flows remain the same

### The Singly-Constrained Models

#### 2a: The Origin- Constrained Model

In the production-constrained model, $O_i$ does not have a parameter as it is a known constraint. $A_i$ is known as a <i>balancing factor</i> and is a vector of values which relate to each origin, $i$, which do the equivalent job to $k$ in the unconstrained/total constrained model but ensure that flow estimates from each origin sum to the known totals, $O_i$ rather than just the overall total.

#### 2b: The Destination-Constrained Model

### The Doubly Constrained Model

## III.2. calibrate the parameter for the cost function OF THE SELECTED MODEL

* Using the information of __population, jobs and flows__, 
* __select a spatial interaction model__ and 
* calibrate the __parameter__ for the cost function (usually denoted as __BETA__). It is essential that you justify the model selected.

### The Origin-Constrained Model

In [4]:
DTsubmat_III2 = pd.pivot_table(Londonflow, values ="flows", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
DTsubmat_III2

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,599
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1224
Acton Town,NaN,NaN,NaN,3.0,17.0,NaN,35.0,0.0,NaN,11.0,...,77.0,3.0,6.0,9.0,NaN,0.0,NaN,0.0,NaN,3745
Aldgate,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,17.0,...,0.0,NaN,4.0,8.0,NaN,0.0,NaN,0.0,NaN,2886
Aldgate East,NaN,NaN,2.0,0.0,NaN,NaN,0.0,0.0,NaN,20.0,...,24.0,0.0,0.0,12.0,NaN,1.0,NaN,1.0,NaN,3172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,2.0,5.0,47.0,NaN,NaN,NaN,NaN,22.0,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4868
Woodgrange Park,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,530
Woodside Park,NaN,NaN,1.0,26.0,11.0,NaN,0.0,NaN,NaN,59.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3093
Woolwich Arsenal,20.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7892
All,345.0,750.0,2202.0,7782.0,7932.0,444.0,741.0,256.0,173.0,8103.0,...,6295.0,596.0,2146.0,1578.0,404.0,706.0,242.0,745.0,4428.0,1542391

In [5]:
def CalcRSquared(observed, estimated):
    """Calculate the r^2 from a series of observed and estimated target values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""
    
    r, p = scipy.stats.pearsonr(observed, estimated)
    R2 = r **2
    
    return R2

def CalcRMSE(observed, estimated):
    """Calculate Root Mean Square Error between a series of observed and estimated values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""
    
    res = (observed -estimated)**2
    RMSE = round(sqrt(res.mean()), 3)
    
    return RMSE

In [6]:
#take the variables and produce logarithms of them
x_variables = ["jobs", "distance"]
log_x_vars = []
for x in x_variables:
    Londonflow[f"log_{x}"] = np.log(Londonflow[x]+1)
    log_x_vars.append(f"log_{x}")

#create the formula
formula = 'flows ~ station_origin + log_jobs + log_distance -1'

#run the regression
prodSim = smf.glm(formula = formula, 
                  data = Londonflow, 
                  family = sm.families.Poisson()).fit()
print(prodSim.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  flows   No. Observations:                61431
Model:                            GLM   Df Residuals:                    61031
Model Family:                 Poisson   Df Model:                          399
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.1903e+06
Date:                Mon, 01 May 2023   Deviance:                   2.2083e+06
Time:                        11:34:09   Pearson chi2:                 3.83e+06
No. Iterations:                    11   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
station_origin[Abbey Road]                     -1.6779      0.042    -40.241      0.000      -1.760      -1.596
station_origin[Acton Central]                  -0.7233      0.030    -24.307      0.000      -0.782      -0.665
station_origin[Acton Town]                     -1.2830      0.018    -69.615      0.000      -1.319      -1.247
station_origin[Aldgate]                        -1.8229      0.020    -89.632      0.000      -1.863      -1.783
station_origin[Aldgate East]                   -1.7357      0.020    -88.760      0.000      -1.774      -1.697
station_origin[All Saints]                     -1.5559      0.038    -41.303      0.000      -1.630      -1.482
station_origin[Alperton]                       -1.8838      0.026    -71.590      0.000      -1.935      -1.832
station_origin[Amersham]                       -1.9863      0.030    -65.359      0.000      -2.046      -1.927
station_origin[Anerley]                        -0.5960      0.040    -14.791      0.000      -0.675      -0.517
station_origin[Angel]                          -1.4425      0.017    -82.556      0.000      -1.477      -1.408
station_origin[Archway]                        -0.9681      0.016    -61.461      0.000      -0.999      -0.937
station_origin[Arnos Grove]                    -1.4251      0.020    -70.978      0.000      -1.464      -1.386
station_origin[Arsenal]                        -1.9569      0.023    -84.744      0.000      -2.002      -1.912
station_origin[Baker Street]                   -0.8755      0.014    -61.779      0.000      -0.903      -0.848
station_origin[Balham]                         -0.3493      0.013    -26.302      0.000      -0.375      -0.323
station_origin[Bank and Monument]               0.4142      0.010     41.797      0.000       0.395       0.434
station_origin[Barbican]                       -2.6917      0.030    -91.068      0.000      -2.750      -2.634
station_origin[Barking]                        -0.5127      0.014    -36.680      0.000      -0.540      -0.485
station_origin[Barkingside]                    -2.0994      0.029    -72.143      0.000      -2.156      -2.042
station_origin[Barons Court]                   -1.3257      0.018    -74.528      0.000      -1.361      -1.291
station_origin[Bayswater]                      -2.2662      0.027    -85.291      0.000      -2.318      -2.214
station_origin[Beckton]                        -0.7957      0.030    -26.197      0.000      -0.855      -0.736
station_origin[Beckton Park]                   -2.1834      0.059    -36.977      0.000      -2.299      -2.068
station_origin[Becontree]                      -1.6277      0.022    -72.382      0.000      -1.672      -1.584
station_origin[Belsize Park]                   -1.6723      0.021    -80.171      0.000      -1.713      -1.631
station_origin[Bermondsey]                     -1.1772      0.016    -72.357      0.000      -1.209      -1.145
station_origin[Bethnal Green]                  -0.9103      0.015    -61.979      0.000      -0.939      -0.881
station_origin[Blackfriars]                    -1.0865      0.014    -75.035      0.000      -1.115      -1.058
station_origin[Blackhorse Road]                -0.4911      0.014    -35.567      0.000      -0.518      -0.464
station_origin[Blackwall]                      -1.3021      0.033    -38.950      0.000      -1.368      -1.237
station_origin[Bond Street]                    -2.2090      0.024    -93.656      0.000      -2.255      -2.163
station_origin[Borough]                        -2.5754      0.028    -90.481      0.000      -2.631      -2.520
station_origin[Boston Manor]                   -2.2988      0.030    -75.705      0.000      -2.358      -2.239
station_origin[Bounds Green]                   -1.0845      0.017    -62.726      0.000      -1.118      -1.051
station_origin[Bow Church]                     -0.6520      0.026    -25.166      0.000      -0.703      -0.601
station_origin[Bow Road]                       -1.3396      0.018    -74.869      0.000      -1.375      -1.305
station_origin[Brent Cross]                    -2.0927      0.027    -76.718      0.000      -2.146      -2.039
station_origin[Brentwood]                       0.9235      0.023     39.560      0.000       0.878       0.969
station_origin[Brixton]                         0.4239      0.011     39.836      0.000       0.403       0.445
station_origin[Brockley]                        0.2355      0.022     10.584      0.000       0.192       0.279
station_origin[Bromley-by-Bow]                 -1.7671      0.022    -82.181      0.000      -1.809      -1.725
station_origin[Brondesbury]                    -0.2845      0.024    -11.910      0.000      -0.331      -0.238
station_origin[Brondesbury Park]               -1.4181      0.039    -36.455      0.000      -1.494      -1.342
station_origin[Bruce Grove]                    -0.5157      0.033    -15.463      0.000      -0.581      -0.450
station_origin[Buckhurst Hill]                 -1.8814      0.026    -71.260      0.000      -1.933      -1.830
station_origin[Burnt Oak]                      -1.3215      0.020    -65.451      0.000      -1.361      -1.282
station_origin[Bush Hill Park]                 -0.1946      0.028     -6.904      0.000      -0.250      -0.139
station_origin[Bushey]                         -1.9282      0.065    -29.484      0.000      -2.056      -1.800
station_origin[Caledonian Road]                -1.7491      0.021    -85.254      0.000      -1.789      -1.709
station_origin[Caledonian Road & Barnsbury]    -1.7646      0.044    -40.415      0.000      -1.850      -1.679
station_origin[Cambridge Heath]                -1.8891      0.056    -33.823      0.000      -1.999      -1.780
station_origin[Camden Road]                    -0.9853      0.030    -32.971      0.000      -1.044      -0.927
station_origin[Camden Town]                    -1.6275      0.019    -84.821      0.000      -1.665      -1.590
station_origin[Canada Water]                    0.4531      0.010     44.176      0.000       0.433       0.473
station_origin[Canary Wharf]                   -0.4213      0.011    -37.543      0.000      -0.443      -0.399
station_origin[Canning Town]                    0.2796      0.011     25.851      0.000       0.258       0.301
station_origin[Cannon Street]                  -1.6333      0.018    -91.105      0.000      -1.668      -1.598
station_origin[Canonbury]                      -0.3286      0.022    -15.012      0.000      -0.372      -0.286
station_origin[Canons Park]                    -1.5628      0.023    -69.241      0.000      -1.607      -1.519
station_origin[Carpenders Park]                -0.2326      0.029     -8.096      0.000      -0.289      -0.176
station_origin[Chadwell Heath]                  1.3048      0.018     71.282      0.000       1.269       1.341
station_origin[Chalfont & Latimer]             -2.1123      0.034    -62.348      0.000      -2.179      -2.046
station_origin[Chalk Farm]                     -1.8612      0.022    -84.273      0.000      -1.905      -1.818
station_origin[Chancery Lane]                  -2.7728      0.031    -90.579      0.000      -2.833      -2.713
station_origin[Charing Cross]                  -1.0912      0.015    -73.727      0.000      -1.120      -1.062
station_origin[Chesham]                        -2.1276      0.034    -62.530      0.000      -2.194      -2.061
station_origin[Cheshunt]                       -1.8726      0.077    -24.334      0.000      -2.023      -1.722
station_origin[Chigwell]                       -2.9164      0.047    -62.126      0.000      -3.008      -2.824
station_origin[Chingford]                       0.0314      0.024      1.318      0.187      -0.015       0.078
station_origin[Chiswick Park]                  -2.3092      0.029    -79.101      0.000      -2.366      -2.252
station_origin[Chorleywood]                    -2.1464      0.035    -62.104      0.000      -2.214      -2.079
station_origin[Clapham Common]                 -1.1140      0.017    -67.265      0.000      -1.147      -1.082
station_origin[Clapham High Street]             0.1269      0.027      4.695      0.000       0.074       0.180
station_origin[Clapham Junction]                1.0095      0.015     69.330      0.000       0.981       1.038
station_origin[Clapham North]                  -1.6701      0.021    -81.328      0.000      -1.710      -1.630
station_origin[Clapham South]                  -0.7703      0.015    -51.672      0.000      -0.800      -0.741
station_origin[Clapton]                        -0.5320      0.027    -19.561      0.000      -0.585      -0.479
station_origin[Cockfosters]                    -2.3769      0.033    -72.392      0.000      -2.441      -2.313
station_origin[Colindale]                      -0.8108      0.016    -50.201      0.000      -0.842      -0.779
station_origin[Colliers Wood]                  -0.8389      0.016    -52.617      0.000      -0.870      -0.808
station_origin[Covent Garden]                  -3.8148      0.049    -77.486      0.000      -3.911      -3.718
station_origin[Crossharbour]                   -0.6815      0.025    -26.775      0.000      -0.731      -0.632
station_origin[Crouch Hill]                    -1.5489      0.051    -30.195      0.000      -1.649      -1.448
station_origin[Croxley]                        -2.1204      0.032    -65.499      0.000      -2.184      -2.057
station_origin[Crystal Palace]                  0.4307      0.024     17.796      0.000       0.383       0.478
station_origin[Custom House]                   -1.3948      0.037    -38.055      0.000      -1.467      -1.323
station_origin[Cutty Sark]                     -0.3660      0.023    -15.727      0.000      -0.412      -0.320
station_origin[Cyprus]                         -1.6913      0.046    -37.149      0.000      -1.781      -1.602
station_origin[Dagenham East]                  -1.7467      0.024    -71.478      0.000      -1.795      -1.699
station_origin[Dagenham Heathway]              -1.2584      0.019    -65.152      0.000      -1.296      -1.221
station_origin[Dalston Junction]                0.3103      0.018     17.307      0.000       0.275       0.345
station_origin[Dalston Kingsland]              -0.0956      0.020     -4.709      0.000      -0.135      -0.056
station_origin[Debden]                         -1.8291      0.026    -69.626      0.000      -1.881      -1.778
station_origin[Denmark Hill]                    0.0147      0.025      0.595      0.552      -0.034       0.063
station_origin[Deptford Bridge]                -0.1202      0.022     -5.520      0.000      -0.163      -0.078
station_origin[Devons Road]                    -0.8822      0.028    -31.391      0.000      -0.937      -0.827
station_origin[Dollis Hill]                    -1.6524      0.022    -76.500      0.000      -1.695      -1.610
station_origin[Ealing Broadway]                -0.0244      0.012     -1.984      0.047      -0.049      -0.000
station_origin[Ealing Common]                  -1.8599      0.024    -77.714      0.000      -1.907      -1.813
station_origin[Earl's Court]                   -0.6731      0.014    -49.231      0.000      -0.700      -0.646
station_origin[East Acton]                     -1.7473      0.022    -78.394      0.000      -1.791      -1.704
station_origin[East Finchley]                  -0.8332      0.016    -53.288      0.000      -0.864      -0.803
station_origin[East Ham]                       -0.5493      0.014    -38.863      0.000      -0.577      -0.522
station_origin[East India]                     -0.7154      0.025    -28.392      0.000      -0.765      -0.666
station_origin[East Putney]                    -0.9356      0.016    -58.527      0.000      -0.967      -0.904
station_origin[Eastcote]                       -1.4187      0.022    -65.173      0.000      -1.461      -1.376
station_origin[Edgware]                        -1.1986      0.019    -62.252      0.000      -1.236      -1.161
station_origin[Edgware Road]                   -1.8059      0.020    -88.195      0.000      -1.846      -1.766
station_origin[Edmonton Green]                  0.0161      0.024      0.686      0.493      -0.030       0.062
station_origin[Elephant & Castle]              -0.7067      0.013    -54.036      0.000      -0.732      -0.681
station_origin[Elm Park]                       -1.3532      0.021    -64.244      0.000      -1.395      -1.312
station_origin[Elverson Road]                  -0.7861      0.031    -25.605      0.000      -0.846      -0.726
station_origin[Embankment]                     -1.5521      0.018    -88.131      0.000      -1.587      -1.518
station_origin[Emerson Park]                    1.4686      0.055     26.662      0.000       1.361       1.577
station_origin[Enfield Town]                   -0.0013      0.025     -0.052      0.959      -0.050       0.048
station_origin[Epping]                         -1.2400      0.021    -60.119      0.000      -1.280      -1.200
station_origin[Euston]                         -0.1487      0.011    -13.751      0.000      -0.170      -0.128
station_origin[Euston Square]                  -1.3036      0.016    -79.849      0.000      -1.336      -1.272
station_origin[Fairlop]                        -2.3247      0.033    -70.613      0.000      -2.389      -2.260
station_origin[Farringdon]                     -1.2704      0.016    -78.096      0.000      -1.302      -1.238
station_origin[Finchley Central]               -0.7037      0.015    -45.988      0.000      -0.734      -0.674
station_origin[Finchley Road]                  -1.1664      0.017    -69.560      0.000      -1.199      -1.134
station_origin[Finchley Road & Frognal]        -0.8416      0.031    -27.380      0.000      -0.902      -0.781
station_origin[Finsbury Park]                   0.3851      0.010     37.381      0.000       0.365       0.405
station_origin[Forest Gate]                     0.5823      0.022     26.277      0.000       0.539       0.626
station_origin[Forest Hill]                     0.3754      0.022     17.171      0.000       0.333       0.418
station_origin[Fulham Broadway]                -1.5516      0.019    -80.271      0.000      -1.589      -1.514
station_origin[Gallions Reach]                 -1.4018      0.041    -34.548      0.000      -1.481      -1.322
station_origin[Gants Hill]                     -0.8652      0.016    -53.026      0.000      -0.897      -0.833
station_origin[Gidea Park]                      1.2506      0.019     64.630      0.000       1.213       1.289
station_origin[Gloucester Road]                -1.2618      0.017    -75.823      0.000      -1.294      -1.229
station_origin[Golders Green]                  -1.0206      0.017    -60.795      0.000      -1.053      -0.988
station_origin[Goldhawk Road]                  -2.2485      0.029    -78.804      0.000      -2.304      -2.193
station_origin[Goodge Street]                  -3.8930      0.053    -73.590      0.000      -3.997      -3.789
station_origin[Goodmayes]                       1.0514      0.020     52.614      0.000       1.012       1.091
station_origin[Gospel Oak]                     -1.2019      0.031    -38.214      0.000      -1.264      -1.140
station_origin[Grange Hill]                    -2.6272      0.040    -65.488      0.000      -2.706      -2.549
station_origin[Great Portland Street]          -2.6801      0.031    -87.060      0.000      -2.740      -2.620
station_origin[Green Park]                     -2.2016      0.023    -93.929      0.000      -2.248      -2.156
station_origin[Greenford]                      -1.4606      0.021    -69.244      0.000      -1.502      -1.419
station_origin[Greenwich]                      -0.7446      0.028    -26.342      0.000      -0.800      -0.689
station_origin[Gunnersbury]                    -1.8362      0.023    -81.190      0.000      -1.881      -1.792
station_origin[Hackney Central]                -0.0452      0.019     -2.404      0.016      -0.082      -0.008
station_origin[Hackney Downs]                  -0.5227      0.035    -14.830      0.000      -0.592      -0.454
station_origin[Hackney Wick]                   -0.9601      0.027    -35.169      0.000      -1.014      -0.907
station_origin[Haggerston]                     -0.3727      0.024    -15.843      0.000      -0.419      -0.327
station_origin[Hainault]                       -1.2683      0.020    -63.508      0.000      -1.307      -1.229
station_origin[Hammersmith]                    -0.3923      0.012    -32.356      0.000      -0.416      -0.369
station_origin[Hampstead]                      -1.9747      0.024    -81.007      0.000      -2.023      -1.927
station_origin[Hampstead Heath]                -1.3606      0.034    -39.939      0.000      -1.427      -1.294
station_origin[Hanger Lane]                    -1.7709      0.024    -73.779      0.000      -1.818      -1.724
station_origin[Harlesden]                      -2.1865      0.027    -80.414      0.000      -2.240      -2.133
station_origin[Harold Wood]                     1.1672      0.020     57.118      0.000       1.127       1.207
station_origin[Harringay Green Lanes]          -1.1523      0.045    -25.519      0.000      -1.241      -1.064
station_origin[Harrow & Wealdstone]            -1.8973      0.026    -74.366      0.000      -1.947      -1.847
station_origin[Harrow-on-the-Hill]             -0.6559      0.015    -42.933      0.000      -0.686      -0.626
station_origin[Hatch End]                      -0.5423      0.035    -15.323      0.000      -0.612      -0.473
station_origin[Hatton Cross]                   -2.0786      0.029    -72.809      0.000      -2.135      -2.023
station_origin[Headstone Lane]                 -1.1791      0.047    -25.114      0.000      -1.271      -1.087
station_origin[Heathrow Terminal 4]            -2.5988      0.036    -71.760      0.000      -2.670      -2.528
station_origin[Heathrow Terminal 5]            -2.4290      0.034    -71.783      0.000      -2.495      -2.363
station_origin[Heathrow Terminals 2 & 3]       -1.6465      0.023    -71.339      0.000      -1.692      -1.601
station_origin[Hendon Central]                 -1.1389      0.018    -63.594      0.000      -1.174      -1.104
station_origin[Heron Quays]                    -0.7320      0.025    -29.284      0.000      -0.781      -0.683
station_origin[High Barnet]                    -1.2553      0.020    -64.151      0.000      -1.294      -1.217
station_origin[High Street Kensington]         -2.0379      0.023    -88.417      0.000      -2.083      -1.993
station_origin[Highams Park]                    0.1845      0.020      9.080      0.000       0.145       0.224
station_origin[Highbury & Islington]            0.2986      0.010     28.502      0.000       0.278       0.319

#### got gamma and beta

The $\gamma$ parameter related to the destination attractiveness: 0.7928

The $\beta$ distance decay parameter: 0.2795. Recall the negative sign in the equation.

```
No log

#create the formula (the "-1" indicates no intercept in the regression model).
formula = 'flows ~ station_origin + jobs + distance -1'

#run a production constrained sim
prodSim = smf.glm(formula = formula, data = Londonflow, family=sm.families.Poisson()).fit()

#let's have a look at it's summary
print(prodSim.summary())
```

### normal Model Estimates

In [7]:
Londonflow.head()

,station_origin,station_destination,flows,population,jobs,distance,log_jobs,log_distance
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,11.271491,9.003627
1,Abbey Road,Beckton,1,599,442,8510.121774,6.093570,9.049129
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.501290,8.236539
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,10.981438,8.534545
4,Abbey Road,Canning Town,37,599,15428,2228.923167,9.644004,7.709722

In [8]:
#create some Oi and Dj columns in the dataframe and store row and column totals in them:
#to create O_i, take cdatasub ...then... group by origcodenew ...then... summarise by calculating the sum of Total
O_i = pd.DataFrame(Londonflow.groupby(["station_origin"])["flows"].agg(np.sum))
O_i.rename(columns={"flows":"O_i"}, inplace = True)
Londonflow = Londonflow.merge(O_i, on = "station_origin", how = "left" )

D_j = pd.DataFrame(Londonflow.groupby(["station_destination"])["flows"].agg(np.sum))
D_j.rename(columns={"flows":"D_j"}, inplace = True)
Londonflow = Londonflow.merge(D_j, on = "station_destination", how = "left" )

In [9]:
#We can do this by pulling out the parameter values
coefs = pd.DataFrame(prodSim.params)
coefs.reset_index(inplace=True)
coefs.rename(columns = {0:"alpha_i", "index":"coef"}, inplace = True)
to_repl = ["(station_origin)", "\[", "\]"]
for x in to_repl:
    coefs["coef"] = coefs["coef"].str.replace(x, "")
#then once you have done this you can join them back into the dataframes
Londonflow = Londonflow.merge(coefs, left_on="station_origin", right_on="coef", how = "left")
Londonflow.drop(columns = ["coef"], inplace = True)
#check this has worked
Londonflow.head()

/tmp/ipykernel_67/3470944051.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  coefs["coef"] = coefs["coef"].str.replace(x, "")

,station_origin,station_destination,flows,population,jobs,distance,log_jobs,log_distance,O_i,D_j,alpha_i
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,11.271491,9.003627,599,78549,-1.677921
1,Abbey Road,Beckton,1,599,442,8510.121774,6.093570,9.049129,599,442,-1.677921
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.501290,8.236539,599,665,-1.677921
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,10.981438,8.534545,599,58772,-1.677921
4,Abbey Road,Canning Town,37,599,15428,2228.923167,9.644004,7.709722,599,15428,-1.677921

#### get alpha, gamma, beta

In [10]:
alpha_i = prodSim.params[0:398]
gamma = prodSim.params[398]
beta = -prodSim.params[399]

In [11]:
alpha_i

station_origin[Abbey Road]         -1.677921
station_origin[Acton Central]      -0.723294
station_origin[Acton Town]         -1.282977
station_origin[Aldgate]            -1.822916
station_origin[Aldgate East]       -1.735682
                                      ...
station_origin[Wood Street]        -0.493450
station_origin[Woodford]           -0.916078
station_origin[Woodgrange Park]    -0.427171
station_origin[Woodside Park]      -1.348228
station_origin[Woolwich Arsenal]    1.163911
Length: 398, dtype: float64

In [12]:
gamma

0.7927915378130382

In [13]:
beta

0.27948595814451616

In [14]:
Londonflow["est1"] = np.exp(Londonflow["alpha_i"]+ gamma*Londonflow["log_jobs"] - beta*Londonflow["log_distance"])
#or you could do it the easy way like we did last week with the fitted column (See previous practical)
Londonflow.head(10)

,station_origin,station_destination,flows,population,jobs,distance,log_jobs,log_distance,O_i,D_j,alpha_i,est1
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,11.271491,9.003627,599,78549,-1.677921,114.621302
1,Abbey Road,Beckton,1,599,442,8510.121774,6.093570,9.049129,599,442,-1.677921,1.866201
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.501290,8.236539,599,665,-1.677921,3.235712
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,10.981438,8.534545,599,58772,-1.677921,103.833030
4,Abbey Road,Canning Town,37,599,15428,2228.923167,9.644004,7.709722,599,15428,-1.677921,45.286285
5,Abbey Road,Crossharbour,1,599,1208,6686.475560,7.097549,8.807992,599,1208,-1.677921,4.424889
6,Abbey Road,Custom House,0,599,845,3824.855630,6.740519,8.249537,599,845,-1.677921,3.897266
7,Abbey Road,Cutty Sark,2,599,1748,8503.898909,7.466799,9.048398,599,1748,-1.677921,5.544430
8,Abbey Road,Cyprus,7,599,850,6532.099618,6.746412,8.784637,599,850,-1.677921,3.371623
9,Abbey Road,Devons Road,1,599,611,3958.324171,6.416732,8.283829,599,611,-1.677921,2.986182

In [15]:
CalcRSquared(Londonflow["flows"], Londonflow["est1"])

0.21990903791445465

In [16]:
CalcRMSE(Londonflow["flows"], Londonflow["est1"])

120.402

### Assessing the model output

In [17]:
DTsubmat

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,599
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1224
Acton Town,NaN,NaN,NaN,3.0,17.0,NaN,35.0,0.0,NaN,11.0,...,77.0,3.0,6.0,9.0,NaN,0.0,NaN,0.0,NaN,3745
Aldgate,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,17.0,...,0.0,NaN,4.0,8.0,NaN,0.0,NaN,0.0,NaN,2886
Aldgate East,NaN,NaN,2.0,0.0,NaN,NaN,0.0,0.0,NaN,20.0,...,24.0,0.0,0.0,12.0,NaN,1.0,NaN,1.0,NaN,3172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,2.0,5.0,47.0,NaN,NaN,NaN,NaN,22.0,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4868
Woodgrange Park,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,530
Woodside Park,NaN,NaN,1.0,26.0,11.0,NaN,0.0,NaN,NaN,59.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3093
Woolwich Arsenal,20.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7892
All,345.0,750.0,2202.0,7782.0,7932.0,444.0,741.0,256.0,173.0,8103.0,...,6295.0,596.0,2146.0,1578.0,404.0,706.0,242.0,745.0,4428.0,1542391

In [18]:
#first round the estimates
Londonflow["est1"] = round(Londonflow["est1"],0)
#now we can create a pivot tabel to turn the paired list into a matrix, and compute the margins as well
DTsubmat_III2_2 = Londonflow.pivot_table(values ="est1", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
DTsubmat_III2_2

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,598.0
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1224.0
Acton Town,NaN,NaN,NaN,22.0,22.0,NaN,5.0,1.0,NaN,23.0,...,19.0,3.0,7.0,8.0,NaN,3.0,NaN,3.0,NaN,3742.0
Aldgate,NaN,NaN,5.0,NaN,26.0,NaN,NaN,1.0,NaN,21.0,...,11.0,NaN,5.0,4.0,NaN,2.0,NaN,2.0,NaN,2887.0
Aldgate East,NaN,NaN,5.0,28.0,NaN,NaN,2.0,1.0,NaN,22.0,...,11.0,2.0,5.0,4.0,NaN,2.0,NaN,2.0,NaN,3168.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,10.0,33.0,34.0,NaN,NaN,NaN,NaN,32.0,...,22.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,4869.0
Woodgrange Park,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.0
Woodside Park,NaN,NaN,7.0,21.0,21.0,NaN,3.0,NaN,NaN,22.0,...,15.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,3097.0
Woolwich Arsenal,26.0,NaN,NaN,NaN,NaN,31.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7894.0
All,256.0,451.0,2445.0,7701.0,8252.0,361.0,777.0,249.0,115.0,8593.0,...,5122.0,643.0,2504.0,1699.0,242.0,849.0,124.0,823.0,1363.0,1542343.0

Here it is very easy to see the Origin Constrained working. 
* The sum across all destinations for each origin in the estimated matrix is exactly the same sum (give or take 1 or 2) across the observed matrics - $\sum_j T_{ij} = \sum_j \lambda_{ij} = O_i$, but clearly, 
* the same is not true when you sum across all origins for each destination - $\sum_i T_{ij} \neq \sum_i \lambda_{ij} \neq D_j$

In [19]:
Londonflow["est1"] = np.exp(Londonflow["alpha_i"]+ gamma*Londonflow["log_jobs"] - beta*Londonflow["log_distance"])
Londonflow["est1"] = round(Londonflow["est1"])
#or you could do it the easy way like we did last week with the fitted column (See previous practical)
Londonflow.head(10)

,station_origin,station_destination,flows,population,jobs,distance,log_jobs,log_distance,O_i,D_j,alpha_i,est1
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,11.271491,9.003627,599,78549,-1.677921,115.0
1,Abbey Road,Beckton,1,599,442,8510.121774,6.093570,9.049129,599,442,-1.677921,2.0
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.501290,8.236539,599,665,-1.677921,3.0
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,10.981438,8.534545,599,58772,-1.677921,104.0
4,Abbey Road,Canning Town,37,599,15428,2228.923167,9.644004,7.709722,599,15428,-1.677921,45.0
5,Abbey Road,Crossharbour,1,599,1208,6686.475560,7.097549,8.807992,599,1208,-1.677921,4.0
6,Abbey Road,Custom House,0,599,845,3824.855630,6.740519,8.249537,599,845,-1.677921,4.0
7,Abbey Road,Cutty Sark,2,599,1748,8503.898909,7.466799,9.048398,599,1748,-1.677921,6.0
8,Abbey Road,Cyprus,7,599,850,6532.099618,6.746412,8.784637,599,850,-1.677921,3.0
9,Abbey Road,Devons Road,1,599,611,3958.324171,6.416732,8.283829,599,611,-1.677921,3.0

### try negative expotential

In [20]:
#create the formula
NE_formula = 'flows ~ station_origin + jobs + distance -1'

#run the regression
NexpoSim = smf.glm(formula = NE_formula, 
                  data = Londonflow, 
                  family = sm.families.Poisson()).fit()
print(NexpoSim.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  flows   No. Observations:                61431
Model:                            GLM   Df Residuals:                    61031
Model Family:                 Poisson   Df Model:                          399
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.1253e+06
Date:                Mon, 01 May 2023   Deviance:                   2.0784e+06
Time:                        11:34:27   Pearson chi2:                 3.08e+06
No. Iterations:                     8   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
station_origin[Abbey Road]                      2.7530      0.041     67.338      0.000       2.673       2.833
station_origin[Acton Central]                   4.4280      0.029    154.731      0.000       4.372       4.484
station_origin[Acton Town]                      4.2634      0.016    259.475      0.000       4.231       4.296
station_origin[Aldgate]                         3.1284      0.019    167.665      0.000       3.092       3.165
station_origin[Aldgate East]                    3.2041      0.018    179.983      0.000       3.169       3.239
station_origin[All Saints]                      2.7524      0.037     74.824      0.000       2.680       2.825
station_origin[Alperton]                        4.0869      0.025    164.132      0.000       4.038       4.136
station_origin[Amersham]                        6.0093      0.029    206.403      0.000       5.952       6.066
station_origin[Anerley]                         4.3822      0.039    111.078      0.000       4.305       4.460
station_origin[Angel]                           3.4995      0.015    226.041      0.000       3.469       3.530
station_origin[Archway]                         4.3421      0.013    323.771      0.000       4.316       4.368
station_origin[Arnos Grove]                     4.5449      0.018    248.880      0.000       4.509       4.581
station_origin[Arsenal]                         3.2139      0.022    148.964      0.000       3.172       3.256
station_origin[Baker Street]                    4.0794      0.012    350.207      0.000       4.057       4.102
station_origin[Balham]                          5.1481      0.010    497.090      0.000       5.128       5.168
station_origin[Bank and Monument]               5.3819      0.006    909.720      0.000       5.370       5.393
station_origin[Barbican]                        2.2344      0.028     78.576      0.000       2.179       2.290
station_origin[Barking]                         5.2520      0.011    466.949      0.000       5.230       5.274
station_origin[Barkingside]                     4.1660      0.028    149.758      0.000       4.111       4.220
station_origin[Barons Court]                    3.8841      0.016    246.254      0.000       3.853       3.915
station_origin[Bayswater]                       2.8634      0.025    113.347      0.000       2.814       2.913
station_origin[Beckton]                         3.9708      0.029    136.120      0.000       3.914       4.028
station_origin[Beckton Park]                    2.3860      0.058     40.828      0.000       2.271       2.501
station_origin[Becontree]                       4.5499      0.021    218.152      0.000       4.509       4.591
station_origin[Belsize Park]                    3.5500      0.019    185.397      0.000       3.512       3.588
station_origin[Bermondsey]                      3.8601      0.014    274.326      0.000       3.832       3.888
station_origin[Bethnal Green]                   4.0805      0.012    334.290      0.000       4.057       4.104
station_origin[Blackfriars]                     3.8933      0.012    319.040      0.000       3.869       3.917
station_origin[Blackhorse Road]                 5.1658      0.011    468.093      0.000       5.144       5.187
station_origin[Blackwall]                       2.9777      0.032     91.800      0.000       2.914       3.041
station_origin[Bond Street]                     2.7237      0.022    122.800      0.000       2.680       2.767
station_origin[Borough]                         2.3669      0.027     86.742      0.000       2.313       2.420
station_origin[Boston Manor]                    3.6067      0.029    123.649      0.000       3.550       3.664
station_origin[Bounds Green]                    4.7353      0.015    312.518      0.000       4.706       4.765
station_origin[Bow Church]                      3.6927      0.025    150.343      0.000       3.645       3.741
station_origin[Bow Road]                        3.8225      0.016    240.786      0.000       3.791       3.854
station_origin[Brent Cross]                     3.6529      0.026    140.766      0.000       3.602       3.704
station_origin[Brentwood]                       6.6027      0.022    306.696      0.000       6.561       6.645
station_origin[Brixton]                         5.7080      0.007    846.834      0.000       5.695       5.721
station_origin[Brockley]                        5.0647      0.021    243.714      0.000       5.024       5.105
station_origin[Bromley-by-Bow]                  3.4519      0.020    173.928      0.000       3.413       3.491
station_origin[Brondesbury]                     4.6329      0.023    205.689      0.000       4.589       4.677
station_origin[Brondesbury Park]                3.5632      0.038     93.618      0.000       3.489       3.638
station_origin[Bruce Grove]                     4.1709      0.032    129.191      0.000       4.108       4.234
station_origin[Buckhurst Hill]                  4.3782      0.025    175.179      0.000       4.329       4.427
station_origin[Burnt Oak]                       4.9252      0.018    268.200      0.000       4.889       4.961
station_origin[Bush Hill Park]                  5.0197      0.027    186.797      0.000       4.967       5.072
station_origin[Bushey]                          3.7020      0.065     57.099      0.000       3.575       3.829
station_origin[Caledonian Road]                 3.3187      0.019    176.374      0.000       3.282       3.356
station_origin[Caledonian Road & Barnsbury]     3.1294      0.043     72.895      0.000       3.045       3.214
station_origin[Cambridge Heath]                 2.6432      0.055     47.857      0.000       2.535       2.751
station_origin[Camden Road]                     3.8568      0.029    133.853      0.000       3.800       3.913
station_origin[Camden Town]                     3.4002      0.017    195.679      0.000       3.366       3.434
station_origin[Canada Water]                    5.4670      0.006    876.348      0.000       5.455       5.479
station_origin[Canary Wharf]                    4.8556      0.008    580.038      0.000       4.839       4.872
station_origin[Canning Town]                    5.3848      0.007    766.996      0.000       5.371       5.399
station_origin[Cannon Street]                   3.3240      0.016    206.300      0.000       3.292       3.356
station_origin[Canonbury]                       4.5412      0.020    222.608      0.000       4.501       4.581
station_origin[Canons Park]                     4.9003      0.021    233.947      0.000       4.859       4.941
station_origin[Carpenders Park]                 5.2891      0.027    192.565      0.000       5.235       5.343
station_origin[Chadwell Heath]                  6.1280      0.016    381.626      0.000       6.097       6.160
station_origin[Chalfont & Latimer]              5.4381      0.033    166.324      0.000       5.374       5.502
station_origin[Chalk Farm]                      3.2620      0.020    159.146      0.000       3.222       3.302
station_origin[Chancery Lane]                   2.1220      0.030     71.842      0.000       2.064       2.180
station_origin[Charing Cross]                   3.8232      0.012    306.804      0.000       3.799       3.848
station_origin[Chesham]                         6.1768      0.033    187.806      0.000       6.112       6.241
station_origin[Cheshunt]                        3.7014      0.076     48.389      0.000       3.551       3.851
station_origin[Chigwell]                        3.2334      0.046     70.097      0.000       3.143       3.324
station_origin[Chingford]                       5.7041      0.022    256.402      0.000       5.661       5.748
station_origin[Chiswick Park]                   3.1683      0.028    113.286      0.000       3.113       3.223
station_origin[Chorleywood]                     5.1378      0.033    153.752      0.000       5.072       5.203
station_origin[Clapham Common]                  4.1510      0.014    289.089      0.000       4.123       4.179
station_origin[Clapham High Street]             5.0773      0.026    196.420      0.000       5.027       5.128
station_origin[Clapham Junction]                6.3182      0.012    520.183      0.000       6.294       6.342
station_origin[Clapham North]                   3.5339      0.019    187.933      0.000       3.497       3.571
station_origin[Clapham South]                   4.6136      0.012    372.305      0.000       4.589       4.638
station_origin[Clapton]                         4.4569      0.026    172.320      0.000       4.406       4.508
station_origin[Cockfosters]                     4.1741      0.032    131.494      0.000       4.112       4.236
station_origin[Colindale]                       5.2814      0.014    381.800      0.000       5.254       5.309
station_origin[Colliers Wood]                   5.0239      0.014    369.629      0.000       4.997       5.051
station_origin[Covent Garden]                   1.1046      0.049     22.739      0.000       1.009       1.200
station_origin[Crossharbour]                    3.6489      0.024    151.286      0.000       3.602       3.696
station_origin[Crouch Hill]                     3.3559      0.051     66.252      0.000       3.257       3.455
station_origin[Croxley]                         4.9818      0.031    159.788      0.000       4.921       5.043
station_origin[Crystal Palace]                  5.6656      0.023    248.749      0.000       5.621       5.710
station_origin[Custom House]                    2.9876      0.036     83.650      0.000       2.918       3.058
station_origin[Cutty Sark]                      4.0516      0.022    186.266      0.000       4.009       4.094
station_origin[Cyprus]                          2.8579      0.045     63.871      0.000       2.770       2.946
station_origin[Dagenham East]                   4.6703      0.023    203.664      0.000       4.625       4.715
station_origin[Dagenham Heathway]               5.0515      0.017    290.375      0.000       5.017       5.086
station_origin[Dalston Junction]                5.2122      0.016    325.166      0.000       5.181       5.244
station_origin[Dalston Kingsland]               4.8449      0.019    259.905      0.000       4.808       4.881
station_origin[Debden]                          4.7655      0.025    191.660      0.000       4.717       4.814
station_origin[Denmark Hill]                    5.0170      0.023    215.115      0.000       4.971       5.063
station_origin[Deptford Bridge]                 4.4204      0.020    219.807      0.000       4.381       4.460
station_origin[Devons Road]                     3.4376      0.027    127.862      0.000       3.385       3.490
station_origin[Dollis Hill]                     3.9503      0.020    198.257      0.000       3.911       3.989
station_origin[Ealing Broadway]                 5.7119      0.009    632.278      0.000       5.694       5.730
station_origin[Ealing Common]                   3.7646      0.022    167.964      0.000       3.721       3.809
station_origin[Earl's Court]                    4.4133      0.011    402.065      0.000       4.392       4.435
station_origin[East Acton]                      3.7668      0.021    182.176      0.000       3.726       3.807
station_origin[East Finchley]                   4.8172      0.013    364.013      0.000       4.791       4.843
station_origin[East Ham]                        5.0765      0.011    444.440      0.000       5.054       5.099
station_origin[East India]                      3.5332      0.024    148.029      0.000       3.486       3.580
station_origin[East Putney]                     4.5758      0.014    334.892      0.000       4.549       4.603
station_origin[Eastcote]                        4.8371      0.020    241.736      0.000       4.798       4.876
station_origin[Edgware]                         5.2334      0.017    301.628      0.000       5.199       5.267
station_origin[Edgware Road]                    3.1979      0.019    170.093      0.000       3.161       3.235
station_origin[Edmonton Green]                  4.9647      0.022    225.852      0.000       4.922       5.008
station_origin[Elephant & Castle]               4.2817      0.010    410.560      0.000       4.261       4.302
station_origin[Elm Park]                        5.2605      0.019    272.877      0.000       5.223       5.298
station_origin[Elverson Road]                   3.8431      0.030    130.195      0.000       3.785       3.901
station_origin[Embankment]                      3.3562      0.016    213.855      0.000       3.325       3.387
station_origin[Emerson Park]                    5.4507      0.055     99.761      0.000       5.344       5.558
station_origin[Enfield Town]                    5.3397      0.024    226.037      0.000       5.293       5.386
station_origin[Epping]                          6.0930      0.019    323.188      0.000       6.056       6.130
station_origin[Euston]                          4.8744      0.008    642.948      0.000       4.860       4.889
station_origin[Euston Square]                   3.7340      0.014    261.146      0.000       3.706       3.762
station_origin[Fairlop]                         4.0564      0.032    127.597      0.000       3.994       4.119
station_origin[Farringdon]                      3.6471      0.014    258.228      0.000       3.619       3.675
station_origin[Finchley Central]                5.1854      0.013    404.605      0.000       5.160       5.211
station_origin[Finchley Road]                   4.0818      0.015    279.422      0.000       4.053       4.110
station_origin[Finchley Road & Frognal]         4.0389      0.030    136.017      0.000       3.981       4.097
station_origin[Finsbury Park]                   5.6454      0.007    863.658      0.000       5.633       5.658
station_origin[Forest Gate]                     5.0791      0.020    248.392      0.000       5.039       5.119
station_origin[Forest Hill]                     5.3216      0.020    261.897      0.000       5.282       5.361
station_origin[Fulham Broadway]                 3.6726      0.017    209.897      0.000       3.638       3.707
station_origin[Gallions Reach]                  3.2397      0.040     81.639      0.000       3.162       3.317
station_origin[Gants Hill]                      5.1431      0.014    367.512      0.000       5.116       5.171
station_origin[Gidea Park]                      6.3930      0.017    371.694      0.000       6.359       6.427
station_origin[Gloucester Road]                 3.7909      0.015    261.092      0.000       3.762       3.819
station_origin[Golders Green]                   4.5625      0.015    313.134      0.000       4.534       4.591
station_origin[Goldhawk Road]                   3.1015      0.027    113.655      0.000       3.048       3.155
station_origin[Goodge Street]                   1.0494      0.052     20.071      0.000       0.947       1.152
station_origin[Goodmayes]                       5.7977      0.018    322.732      0.000       5.763       5.833
station_origin[Gospel Oak]                      3.7100      0.030    122.083      0.000       3.650       3.770
station_origin[Grange Hill]                     3.6553      0.039     93.334      0.000       3.578       3.732
station_origin[Great Portland Street]           2.2994      0.030     77.434      0.000       2.241       2.358
station_origin[Green Park]                      2.7240      0.022    123.656      0.000       2.681       2.767
station_origin[Greenford]                       4.7837      0.019    247.090      0.000       4.746       4.822
station_origin[Greenwich]                       3.7296      0.027    138.055      0.000       3.677       3.783
station_origin[Gunnersbury]                     3.6920      0.021    175.423      0.000       3.651       3.733
station_origin[Hackney Central]                 4.9962      0.017    289.338      0.000       4.962       5.030
station_origin[Hackney Downs]                   3.8321      0.034    111.215      0.000       3.765       3.900
station_origin[Hackney Wick]                    3.9791      0.026    152.695      0.000       3.928       4.030
station_origin[Haggerston]                      4.5226      0.022    204.445      0.000       4.479       4.566
station_origin[Hainault]                        5.1523      0.018    285.287      0.000       5.117       5.188
station_origin[Hammersmith]                     4.9612      0.009    532.992      0.000       4.943       4.979
station_origin[Hampstead]                       3.3562      0.023    146.466      0.000       3.311       3.401
station_origin[Hampstead Heath]                 3.5728      0.033    107.973      0.000       3.508       3.638
station_origin[Hanger Lane]                     4.1203      0.022    183.264      0.000       4.076       4.164
station_origin[Harlesden]                       3.3229      0.026    128.407      0.000       3.272       3.374
station_origin[Harold Wood]                     6.4579      0.018    351.471      0.000       6.422       6.494
station_origin[Harringay Green Lanes]           3.7499      0.044     84.396      0.000       3.663       3.837
station_origin[Harrow & Wealdstone]             4.4072      0.024    182.964      0.000       4.360       4.454
station_origin[Harrow-on-the-Hill]              5.3727      0.013    421.290      0.000       5.348       5.398
station_origin[Hatch End]                       4.8528      0.034    141.191      0.000       4.785       4.920
station_origin[Hatton Cross]                    4.6247      0.027    169.643      0.000       4.571       4.678
station_origin[Headstone Lane]                  4.0453      0.046     87.572      0.000       3.955       4.136
station_origin[Heathrow Terminal 4]             4.2876      0.035    121.764      0.000       4.219       4.357
station_origin[Heathrow Terminal 5]             4.8317      0.033    147.360      0.000       4.767       4.896
station_origin[Heathrow Terminals 2 & 3]        5.2784      0.021    245.612      0.000       5.236       5.321
station_origin[Hendon Central]                  4.7230      0.016    298.043      0.000       4.692       4.754
station_origin[Heron Quays]                     3.5936      0.024    151.723      0.000       3.547       3.640
station_origin[High Barnet]                     5.3582      0.018    302.341      0.000       5.323       5.393
station_origin[High Street Kensington]          3.0472      0.022    141.337      0.000       3.005       3.089
station_origin[Highams Park]                    5.5396      0.019    298.804      0.000       5.503       5.576
station_origin[Highbury & Islington]            5.2960      0.007    798.731      0.000       5.283       5.309

#### get alpha gamma beta

In [21]:
alpha_i_ne = NexpoSim.params[0:398]
gamma_ne = NexpoSim.params[398]
beta_ne = -NexpoSim.params[399]

In [22]:
beta_ne

0.00014377929133584962

In [23]:
gamma_ne

4.151346142465418e-05

In [24]:
alpha_i_ne

station_origin[Abbey Road]          2.753050
station_origin[Acton Central]       4.427951
station_origin[Acton Town]          4.263440
station_origin[Aldgate]             3.128385
station_origin[Aldgate East]        3.204054
                                      ...
station_origin[Wood Street]         4.609125
station_origin[Woodford]            5.068470
station_origin[Woodgrange Park]     4.457912
station_origin[Woodside Park]       4.771284
station_origin[Woolwich Arsenal]    6.030280
Length: 398, dtype: float64

In [25]:
#We can do this by pulling out the parameter values
coefs = pd.DataFrame(prodSim.params)
coefs.reset_index(inplace=True)
coefs.rename(columns = {0:"alpha_i_ne", "index":"coef"}, inplace = True)
to_repl = ["(station_origin)", "\[", "\]"]
for x in to_repl:
    coefs["coef"] = coefs["coef"].str.replace(x, "")
#then once you have done this you can join them back into the dataframes
Londonflow = Londonflow.merge(coefs, left_on="station_origin", right_on="coef", how = "left")
Londonflow.drop(columns = ["coef"], inplace = True)
#check this has worked
Londonflow.head()

/tmp/ipykernel_67/2191618147.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  coefs["coef"] = coefs["coef"].str.replace(x, "")

,station_origin,station_destination,flows,population,jobs,distance,log_jobs,log_distance,O_i,D_j,alpha_i,est1,alpha_i_ne
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,11.271491,9.003627,599,78549,-1.677921,115.0,-1.677921
1,Abbey Road,Beckton,1,599,442,8510.121774,6.093570,9.049129,599,442,-1.677921,2.0,-1.677921
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.501290,8.236539,599,665,-1.677921,3.0,-1.677921
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,10.981438,8.534545,599,58772,-1.677921,104.0,-1.677921
4,Abbey Road,Canning Town,37,599,15428,2228.923167,9.644004,7.709722,599,15428,-1.677921,45.0,-1.677921

In [26]:
Londonflow["est1_ne"] = np.exp(Londonflow["alpha_i_ne"]+ gamma_ne*Londonflow["log_jobs"] - beta_ne*Londonflow["log_distance"])
#or you could do it the easy way like we did last week with the fitted column (See previous practical)
Londonflow.head(10)

,station_origin,station_destination,flows,population,jobs,distance,log_jobs,log_distance,O_i,D_j,alpha_i,est1,alpha_i_ne,est1_ne
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,11.271491,9.003627,599,78549,-1.677921,115.0,-1.677921,0.186607
1,Abbey Road,Beckton,1,599,442,8510.121774,6.093570,9.049129,599,442,-1.677921,2.0,-1.677921,0.186566
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.501290,8.236539,599,665,-1.677921,3.0,-1.677921,0.186591
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,10.981438,8.534545,599,58772,-1.677921,104.0,-1.677921,0.186618
4,Abbey Road,Canning Town,37,599,15428,2228.923167,9.644004,7.709722,599,15428,-1.677921,45.0,-1.677921,0.186630
5,Abbey Road,Crossharbour,1,599,1208,6686.475560,7.097549,8.807992,599,1208,-1.677921,4.0,-1.677921,0.186580
6,Abbey Road,Custom House,0,599,845,3824.855630,6.740519,8.249537,599,845,-1.677921,4.0,-1.677921,0.186593
7,Abbey Road,Cutty Sark,2,599,1748,8503.898909,7.466799,9.048398,599,1748,-1.677921,6.0,-1.677921,0.186577
8,Abbey Road,Cyprus,7,599,850,6532.099618,6.746412,8.784637,599,850,-1.677921,3.0,-1.677921,0.186578
9,Abbey Road,Devons Road,1,599,611,3958.324171,6.416732,8.283829,599,611,-1.677921,3.0,-1.677921,0.186589

In [27]:
CalcRSquared(Londonflow["flows"], Londonflow["est1_ne"])

0.05311175952232571

# IV. Scenarios
## IV.1. Scenario A: 
* assume that __Canary Wharf__ has a __50% decrease in jobs__ after Brexit. 
* Using the __calibrated parameter BETA__, __compute the new flows__ for scenario A. 
* Make sure the number of commuters is conserved, and 
* explain how you ensured this.

In [28]:
flow_scenarioA = Londonflow
flow_scenarioB = Londonflow
flow_scenarioB1 = Londonflow

In [29]:
def new_sal(row):
    if row["station_destination"] == "Canary Wharf":
        val = row["jobs"]*0.5
    else:
        val = row["jobs"]
    return val
        
flow_scenarioA["ScenarioA_jobs"] = flow_scenarioA.apply(new_sal, axis =1)
flow_scenarioA.head(10)

,station_origin,station_destination,flows,population,jobs,distance,log_jobs,log_distance,O_i,D_j,alpha_i,est1,alpha_i_ne,est1_ne,ScenarioA_jobs
0,Abbey Road,Bank and Monument,0,599,78549,8131.525097,11.271491,9.003627,599,78549,-1.677921,115.0,-1.677921,0.186607,78549.0
1,Abbey Road,Beckton,1,599,442,8510.121774,6.093570,9.049129,599,442,-1.677921,2.0,-1.677921,0.186566,442.0
2,Abbey Road,Blackwall,3,599,665,3775.448872,6.501290,8.236539,599,665,-1.677921,3.0,-1.677921,0.186591,665.0
3,Abbey Road,Canary Wharf,1,599,58772,5086.514220,10.981438,8.534545,599,58772,-1.677921,104.0,-1.677921,0.186618,29386.0
4,Abbey Road,Canning Town,37,599,15428,2228.923167,9.644004,7.709722,599,15428,-1.677921,45.0,-1.677921,0.186630,15428.0
5,Abbey Road,Crossharbour,1,599,1208,6686.475560,7.097549,8.807992,599,1208,-1.677921,4.0,-1.677921,0.186580,1208.0
6,Abbey Road,Custom House,0,599,845,3824.855630,6.740519,8.249537,599,845,-1.677921,4.0,-1.677921,0.186593,845.0
7,Abbey Road,Cutty Sark,2,599,1748,8503.898909,7.466799,9.048398,599,1748,-1.677921,6.0,-1.677921,0.186577,1748.0
8,Abbey Road,Cyprus,7,599,850,6532.099618,6.746412,8.784637,599,850,-1.677921,3.0,-1.677921,0.186578,850.0
9,Abbey Road,Devons Road,1,599,611,3958.324171,6.416732,8.283829,599,611,-1.677921,3.0,-1.677921,0.186589,611.0

### plug these new values into the model

see how this changes the flows in the system

In [30]:
beta

0.27948595814451616


``` 
Londonflow["est2"] = np.exp(Londonflow["alpha_i"] + gamma*np.log(Londonflow["ScenarioA_jobs"]) - beta*Londonflow["log_distance"])

Londonflow["est2"] = round(Londonflow["est2"],0)
#now we can convert the pivot table into a matrix
DTsubmat_IV1A = Londonflow.pivot_table(values ="est2", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
DTsubmat_IV1A.iloc[:, 50:60]
```

by increasing the average salary in Barking and Dagenham, we’ve increased flows into Barking and Dagenham, but have not reduced the flows into other zones - the original constraints are still working on the other zones.

One way to get around this, now that we have calibrated our parameters, is to return to the multiplicative model in Equation 1 and run this model after calculating our own  𝐴𝑖  balancing factors.

In [31]:
#calculate some new Dj^gamma and d_ij^beta values
A_jobs_gamma = flow_scenarioA["jobs"]**gamma
dist_beta = flow_scenarioA["distance"]**-beta
#calcualte the first stage of the Ai values
flow_scenarioA["Ai1"] = A_jobs_gamma * dist_beta
#now do the sum over all js bit
A_i = pd.DataFrame(flow_scenarioA.groupby(["station_origin"])["Ai1"].agg(np.sum))
#now divide into 1
A_i["Ai1"] = 1/A_i["Ai1"]
A_i.rename(columns={"Ai1":"A_i"}, inplace=True)
#and write the A_i values back into the dataframe
flow_scenarioA = flow_scenarioA.merge(A_i, left_on="station_origin", right_index=True, how="left")

You should see that your new estimates are exactly the same as your first estimates. If they’re not, then something has gone wrong.

In [32]:
#to check everything works, recreate the original estimates
flow_scenarioA["est3"] = flow_scenarioA["A_i"]*flow_scenarioA["O_i"]*A_jobs_gamma*dist_beta
#round
flow_scenarioA["est3"] = round(flow_scenarioA["est3"])
#check
flow_scenarioA[["est1", "est3"]]

        est1   est3
0      115.0  115.0
1        2.0    2.0
2        3.0    3.0
3      104.0  104.0
4       45.0   45.0
...      ...    ...
61426  140.0  140.0
61427  234.0  234.0
61428   29.0   29.0
61429   64.0   64.0
61430   70.0   70.0

[61431 rows x 2 columns]

In [33]:
#calculate some new Dj^gamma and d_ij^beta values
Dj3_gamma = flow_scenarioA["ScenarioA_jobs"]**gamma
#calcualte the first stage of the Ai values
flow_scenarioA["Ai1"] = Dj3_gamma * dist_beta
#now do the sum over all js bit
A_i = pd.DataFrame(flow_scenarioA.groupby(["station_origin"])["Ai1"].agg(np.sum))
#now divide into 1
A_i["Ai1"] = 1/A_i["Ai1"]
A_i.rename(columns={"Ai1":"A_i2"}, inplace=True)
#and write the A_i values back into the dataframe
flow_scenarioA = flow_scenarioA.merge(A_i, left_on="station_origin", right_index=True, how="left")

In [34]:
#to check everything works, recreate the original estimates
flow_scenarioA["est4"] = flow_scenarioA["A_i2"]*flow_scenarioA["O_i"]*Dj3_gamma*dist_beta
#round
flow_scenarioA["est4"] = round(flow_scenarioA["est4"])

DTsubmat_IV1A2 = flow_scenarioA.pivot_table(values ="est4", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
DTsubmat_IV1A2.iloc[:, 50:60]

station_destination,Cambridge Heath,Camden Road,Camden Town,Canada Water,Canary Wharf,Canning Town,Cannon Street,Canonbury,Canons Park,Carpenders Park
station_origin,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,65.0,49.0,NaN,NaN,NaN,NaN
Acton Central,NaN,24.0,NaN,80.0,NaN,NaN,NaN,7.0,NaN,3.0
Acton Town,NaN,NaN,20.0,48.0,61.0,35.0,15.0,NaN,2.0,NaN
Aldgate,NaN,NaN,15.0,39.0,49.0,27.0,16.0,NaN,1.0,NaN
Aldgate East,NaN,NaN,16.0,47.0,57.0,31.0,17.0,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,26.0,71.0,98.0,62.0,22.0,NaN,NaN,NaN
Woodgrange Park,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woodside Park,NaN,NaN,20.0,43.0,56.0,33.0,14.0,NaN,NaN,NaN
Woolwich Arsenal,NaN,NaN,NaN,NaN,928.0,613.0,NaN,NaN,NaN,NaN
All,211.0,2919.0,5555.0,20782.0,26260.0,15121.0,4454.0,754.0,467.0,124.0

In [35]:
DTsubmat

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,599
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1224
Acton Town,NaN,NaN,NaN,3.0,17.0,NaN,35.0,0.0,NaN,11.0,...,77.0,3.0,6.0,9.0,NaN,0.0,NaN,0.0,NaN,3745
Aldgate,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,17.0,...,0.0,NaN,4.0,8.0,NaN,0.0,NaN,0.0,NaN,2886
Aldgate East,NaN,NaN,2.0,0.0,NaN,NaN,0.0,0.0,NaN,20.0,...,24.0,0.0,0.0,12.0,NaN,1.0,NaN,1.0,NaN,3172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,2.0,5.0,47.0,NaN,NaN,NaN,NaN,22.0,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4868
Woodgrange Park,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,530
Woodside Park,NaN,NaN,1.0,26.0,11.0,NaN,0.0,NaN,NaN,59.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3093
Woolwich Arsenal,20.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7892
All,345.0,750.0,2202.0,7782.0,7932.0,444.0,741.0,256.0,173.0,8103.0,...,6295.0,596.0,2146.0,1578.0,404.0,706.0,242.0,745.0,4428.0,1542391

In [36]:
DTsubmat_IV1A2

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,599.0
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1224.0
Acton Town,NaN,NaN,NaN,22.0,23.0,NaN,5.0,1.0,NaN,24.0,...,19.0,3.0,7.0,8.0,NaN,3.0,NaN,3.0,NaN,3743.0
Aldgate,NaN,NaN,5.0,NaN,26.0,NaN,NaN,1.0,NaN,21.0,...,11.0,NaN,5.0,4.0,NaN,2.0,NaN,2.0,NaN,2882.0
Aldgate East,NaN,NaN,5.0,28.0,NaN,NaN,2.0,1.0,NaN,22.0,...,12.0,2.0,6.0,4.0,NaN,2.0,NaN,2.0,NaN,3171.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,10.0,33.0,35.0,NaN,NaN,NaN,NaN,33.0,...,23.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,4871.0
Woodgrange Park,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.0
Woodside Park,NaN,NaN,7.0,21.0,21.0,NaN,3.0,NaN,NaN,23.0,...,15.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,3093.0
Woolwich Arsenal,28.0,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7893.0
All,241.0,429.0,2018.0,6063.0,6638.0,341.0,621.0,192.0,106.0,6998.0,...,4212.0,523.0,2072.0,1338.0,226.0,696.0,121.0,655.0,1276.0,1229322.0

In [37]:
DTsubmat_IV1A2_all = DTsubmat_IV1A2.tail(1)
transposed_IV1A2_all = DTsubmat_IV1A2_all.T
transposed_IV1A2_all.rename(columns={'All': 'All_half'}, inplace=True)
transposed_IV1A2_all

station_origin        All_half
station_destination
Abbey Road               241.0
Acton Central            429.0
Acton Town              2018.0
Aldgate                 6063.0
Aldgate East            6638.0
...                        ...
Woodford                 696.0
Woodgrange Park          121.0
Woodside Park            655.0
Woolwich Arsenal        1276.0
All                  1229322.0

[399 rows x 1 columns]

In [38]:
DTsubmat_all = DTsubmat.tail(1)
transposed_DT_all = DTsubmat_all.T
transposed_DT_all

station_origin             All
station_destination
Abbey Road               345.0
Acton Central            750.0
Acton Town              2202.0
Aldgate                 7782.0
Aldgate East            7932.0
...                        ...
Woodford                 706.0
Woodgrange Park          242.0
Woodside Park            745.0
Woolwich Arsenal        4428.0
All                  1542391.0

[399 rows x 1 columns]

In [39]:
merged_DT_IVA = pd.merge(transposed_DT_all, transposed_IV1A2_all, on='station_destination')
merged_DT_IVA['changes'] = merged_DT_IVA['All_half'] - merged_DT_IVA['All']
merged_DT_IVA.to_csv('merged_DT_IVA.csv', index=True)
merged_DT_IVA = pd.read_csv("./merged_DT_IVA.csv")
merged_DT_IVA = merged_DT_IVA.sort_values(by='changes', ascending=False)
merged_DT_IVA.head(10)

    station_destination      All  All_half  changes
326           Stratford  55954.0   66544.0  10590.0
386         Whitechapel  17633.0   19099.0   1466.0
371       West Brompton   5859.0    7123.0   1264.0
388  Willesden Junction   4165.0    5248.0   1083.0
374            West Ham   5487.0    6456.0    969.0
375      West Hampstead   5856.0    6526.0    670.0
26        Bethnal Green   4660.0    5290.0    630.0
141         Gunnersbury   4775.0    5388.0    613.0
192         Kew Gardens    792.0    1165.0    373.0
53         Canada Water  20443.0   20782.0    339.0

In [40]:
merged_DT_IVA.tail(10)

          station_destination        All   All_half   changes
227                  Moorgate    24574.0    17193.0   -7381.0
119                Farringdon    25592.0    17512.0   -8080.0
138                Green Park    26754.0    18258.0   -8496.0
213             London Bridge    29930.0    20151.0   -9779.0
355                  Victoria    33251.0    21560.0  -11691.0
197  King's Cross St. Pancras    33330.0    21221.0  -12109.0
251             Oxford Circus    44368.0    27511.0  -16857.0
15          Bank and Monument    78549.0    54715.0  -23834.0
54               Canary Wharf    58772.0    26260.0  -32512.0
398                       All  1542391.0  1229322.0 -313069.0

There are a number of things to note here. 

__Firstly, flows into Canary Wharf have virtually decreased, overall flows also reduced.__

*Secondly, Barking and Dagenham was a poor estimate anyway - the model was very much over estimating flows into this Borough. Increasing the salary into this borough has significantly increased flows, so this indicates that there are probably lots of other things that might be discouraging people from working in this borough.*

__Thirdly, Our origin constraints are now holding again.__

## IV.2. Scenario B: 
* assume that there is a significant increase in the cost of transport. 
* Select 2 values for the parameter in the cost function reflecting scenario B. 
* Recompute the distribution of flows.

### if beta = 1 gamma = 0.27

In [41]:
#calculate some new Dj^gamma and d_ij^beta values
beta = 0.5
A_jobs_gamma = flow_scenarioB["jobs"]**gamma
dist_beta_B5 = flow_scenarioB["distance"]**-beta
#calcualte the first stage of the Ai values
flow_scenarioB["Ai1_B5"] = A_jobs_gamma * dist_beta_B5
#now do the sum over all js bit
A_i_B5 = pd.DataFrame(flow_scenarioB.groupby(["station_origin"])["Ai1_B5"].agg(np.sum))
#now divide into 1
A_i_B5["Ai1_B5"] = 1/A_i_B5["Ai1_B5"]
A_i_B5.rename(columns={"Ai1_B5":"A_i_B5"}, inplace=True)
#and write the A_i values back into the dataframe
flow_scenarioB = flow_scenarioB.merge(A_i_B5, left_on="station_origin", right_index=True, how="left")

In [42]:
#to check everything works, recreate the original estimates
flow_scenarioB["est_B5"] = flow_scenarioB["A_i_B5"]*Londonflow["O_i"]*A_jobs_gamma*dist_beta_B5
#round
flow_scenarioB["est_B5"] = round(flow_scenarioB["est_B5"])

DTsubmat_IV1B5 = flow_scenarioB.pivot_table(values ="est_B5", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
DTsubmat_IV1B5

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,598.0
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1221.0
Acton Town,NaN,NaN,NaN,21.0,21.0,NaN,6.0,1.0,NaN,22.0,...,18.0,3.0,6.0,10.0,NaN,2.0,NaN,3.0,NaN,3751.0
Aldgate,NaN,NaN,4.0,NaN,33.0,NaN,NaN,0.0,NaN,22.0,...,8.0,NaN,4.0,3.0,NaN,1.0,NaN,1.0,NaN,2891.0
Aldgate East,NaN,NaN,4.0,36.0,NaN,NaN,1.0,0.0,NaN,23.0,...,8.0,1.0,4.0,3.0,NaN,2.0,NaN,2.0,NaN,3179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,9.0,34.0,36.0,NaN,NaN,NaN,NaN,33.0,...,19.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,4865.0
Woodgrange Park,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532.0
Woodside Park,NaN,NaN,6.0,21.0,21.0,NaN,2.0,NaN,NaN,23.0,...,14.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,3092.0
Woolwich Arsenal,26.0,NaN,NaN,NaN,NaN,31.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7893.0
All,269.0,398.0,1866.0,6128.0,6753.0,339.0,537.0,140.0,111.0,7077.0,...,3593.0,470.0,1898.0,1265.0,239.0,607.0,125.0,568.0,1063.0,1229205.0

In [43]:
DTsubmat_IV1B1_all = DTsubmat_IV1B5.tail(1)
transposed_IV1B1_all = DTsubmat_IV1B1_all.T
transposed_IV1B1_all.rename(columns={'All': 'All_beta5'}, inplace=True)
transposed_IV1B1_all

station_origin       All_beta5
station_destination
Abbey Road               269.0
Acton Central            398.0
Acton Town              1866.0
Aldgate                 6128.0
Aldgate East            6753.0
...                        ...
Woodford                 607.0
Woodgrange Park          125.0
Woodside Park            568.0
Woolwich Arsenal        1063.0
All                  1229205.0

[399 rows x 1 columns]

In [44]:
DTsubmat_all = DTsubmat.tail(1)
transposed_DT_all = DTsubmat_all.T
transposed_DT_all

station_origin             All
station_destination
Abbey Road               345.0
Acton Central            750.0
Acton Town              2202.0
Aldgate                 7782.0
Aldgate East            7932.0
...                        ...
Woodford                 706.0
Woodgrange Park          242.0
Woodside Park            745.0
Woolwich Arsenal        4428.0
All                  1542391.0

[399 rows x 1 columns]

In [45]:
merged_DT_IVB = pd.merge(transposed_DT_all, transposed_IV1B1_all, on='station_destination')
merged_DT_IVB['changes'] = merged_DT_IVB['All_beta5'] - merged_DT_IVB['All']
merged_DT_IVB.to_csv('merged_DT_IVB.csv', index=True)
merged_DT_IVB

station_origin             All  All_beta5   changes
station_destination
Abbey Road               345.0      269.0     -76.0
Acton Central            750.0      398.0    -352.0
Acton Town              2202.0     1866.0    -336.0
Aldgate                 7782.0     6128.0   -1654.0
Aldgate East            7932.0     6753.0   -1179.0
...                        ...        ...       ...
Woodford                 706.0      607.0     -99.0
Woodgrange Park          242.0      125.0    -117.0
Woodside Park            745.0      568.0    -177.0
Woolwich Arsenal        4428.0     1063.0   -3365.0
All                  1542391.0  1229205.0 -313186.0

[399 rows x 3 columns]

In [46]:
merged_DT_IVB = pd.read_csv("./merged_DT_IVB.csv")
merged_DT_IVB = merged_DT_IVB.sort_values(by='changes', ascending=False)
merged_DT_IVB.head(10)

    station_destination      All  All_beta5  changes
326           Stratford  55954.0    64154.0   8200.0
386         Whitechapel  17633.0    19244.0   1611.0
371       West Brompton   5859.0     6944.0   1085.0
374            West Ham   5487.0     6352.0    865.0
53         Canada Water  20443.0    21197.0    754.0
388  Willesden Junction   4165.0     4869.0    704.0
26        Bethnal Green   4660.0     5289.0    629.0
375      West Hampstead   5856.0     6429.0    573.0
201       Lambeth North   1319.0     1596.0    277.0
322       Stepney Green   1879.0     2121.0    242.0

In [47]:
merged_DT_IVB.tail(10)

          station_destination        All  All_beta5   changes
227                  Moorgate    24574.0    17772.0   -6802.0
119                Farringdon    25592.0    17752.0   -7840.0
138                Green Park    26754.0    18552.0   -8202.0
213             London Bridge    29930.0    20661.0   -9269.0
355                  Victoria    33251.0    21805.0  -11446.0
197  King's Cross St. Pancras    33330.0    21615.0  -11715.0
54               Canary Wharf    58772.0    44384.0  -14388.0
251             Oxford Circus    44368.0    28169.0  -16199.0
15          Bank and Monument    78549.0    53105.0  -25444.0
398                       All  1542391.0  1229205.0 -313186.0

### if beta = 0.5 gamma = 0.27

#calculate some new Dj^gamma and d_ij^beta values
beta = 0.8
A_jobs_gamma = flow_scenarioB1["jobs"]**gamma
dist_beta_B1 = flow_scenarioB1["distance"]**-beta
#calcualte the first stage of the Ai values
flow_scenarioB1["Ai1_B1"] = A_jobs_gamma * dist_beta_B1
#now do the sum over all js bit
A_i_B1 = pd.DataFrame(flow_scenarioB1.groupby(["station_origin"])["Ai1_B1"].agg(np.sum))
#now divide into 1
A_i_B1["Ai1_B1"] = 1/A_i_B1["Ai1_B1"]
A_i_B1.rename(columns={"Ai1_B1":"A_i_B1"}, inplace=True)
#and write the A_i values back into the dataframe
flow_scenarioB1 = flow_scenarioB1.merge(A_i_B1, left_on="station_origin", right_index=True, how="left")

#to check everything works, recreate the original estimates
flow_scenarioB1["est_B1"] = flow_scenarioB1["A_i_B1"]*flow_scenarioB1["O_i"]*A_jobs_gamma*dist_beta_B5
#round
flow_scenarioB1["est_B1"] = round(flow_scenarioB1["est_B1"])

DTsubmat_IV2B1 = flow_scenarioB1.pivot_table(values ="est_B1", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
DTsubmat_IV2B1

## IV.3. 

* Discuss how the flows change for the 3 different situations: 
__scenario A__, and 
__scenario B__ with __two selections of parameters__. 

* __Which scenario__ would have more impact in the redistribution of flows? 
* Explain and __justify your answers__ using the results of the analysis.

Where have flows from dropped?

Where have flows increased from?

Which flow was most affected?

Why do you think that is?

Is the production constrained model appropriate?

Would jobs respond to the increase in households, or would it be the other way round?